.section-staff{
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.staff-text{
    padding-inline: 80px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.staff1{
    width: 80%;
    margin-left: 40px;
}
.staff2{
    width: 80%;
    margin-bottom: 40px;
}
.staff-content{
    padding-inline: 40px 150px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}


@media (max-width:768px){
    .section-staff{
        padding: 30px 20px;
    }
    .staff-text{
        padding-inline: 40px;
    }
    .staff-content{
        padding: 30px 20px;
        padding-right: 50px;
    }
}