.text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 120px;
    gap: 70px;
}
.text h1{
    font-size: 2.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.text p{
    font-size: 1.2em;
    padding-right: 50px;
}
.text div{
    text-align: right;
}
.text div h4{
    background-color: black;
    color: white;
    padding: 20px 30px;
    display: inline-block;
    text-transform: uppercase;
}
.text div h4 a{
    text-decoration: none;
    color: white;
}
.text div h4:hover{
    background-color: gray;
}



@media (max-width:768px){
    .text{
        padding-inline: 30px 20px;
    }
}